<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test upload function</title>
</head>

<body ng-app="eamon"  ng-controller="uploadCtrl">

<input type="file" name="filename" ng-model="testupfile">
<button ng-click="testfunction()"> testfunction </button>

<form name="myform" ng-submit="goSubmit()">
    <input type="file"  name="filename"  multiple="multiple" ng-model="up_file">
    <input type="submit" name="upinput" value="upload"  ng-model="submit_btn">
</form>

<script src="../bower_components/angular/angular.min.js" ></script>
<script src="../public/javascripts/upload.js"></script>
</body>
</html>