<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test upload function</title>
</head>
<body ng-app="eamon" ng-controller="uploadCtrl">

<button ng-click="testfunction()"> testfunction</button>


<form name="myform" action="/upload/file" ng-submit="gosubmit()">
    <input type="file" ng-model="file_fullpath">
    <input type="submit" value="upload">
</form>


<script src="../bower_components/angular/angular.min.js" ></script>
<script src="../public/javascripts/upload.js"></script>
</body>
</html>