<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<form method="post" enctype="multipart/form-data" action="/upload/file">
    <input type="text" name="username">
    <input type="password" name="password">
    <input type="file" name="thumbnail">
    <input type="submit">
</form>
<!--<form role="form" method="post" action="/upload/file" enctype='multipart/form-data'>-->
    <!--<h2>上传文件</h2>-->
    <!--<input name="fulAvatar" type="file"  />-->
    <!--<br/>-->
    <!--<input type="submit" value="upload">-->
<!--</form>-->

</body>
</html>