<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body ng-app="eamon" ng-controller="indexCtrl as app">
<ul>
    <li ng-repeat="product in app.products">
        {{product.name}}
    </li>
</ul>
<input type="text" ng-model="app.newProduct" />
<button ng-click="app.saveProduct(app.newProduct)">Save Product</button>

<script src="../bower_components/angular/angular.js" ></script>
<script src="../public/javascripts/index.js"></script>
</body>
</html>